body {
  margin: 0;
}
img {
  width: 100%;
}
/* ID's */
#screen {
  aspect-ratio: 16 / 9;
  width: 100%;
  display: grid;
  grid-template: 100% / 100%;
  
}
#game {
  grid-area: 1/ 1;
  display: grid;
  overflow: hidden;
  position: relative;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}
#game_background {
  grid-area: 1 / 1;
  background-image: url(images/townbackground.png);
  background-size: cover;
}
#game_elements {
  grid-area: 1 / 1;
}
#game_ui {
  grid-area: 1 / 1;
}
#start {
  grid-area: 1 / 1;
}
#gameover {
  grid-area: 1 / 1;
}
#level_complete {
  grid-area: 1 / 1;
}
#hp_img {
  position: absolute;
  height: 7%;
  width: 4%;
  top: 15px;
  left: 1280px;
}
#hp2_img {
  position: absolute;
  height: 7%;
  width: 4%;
  top: 15px;
  left: 1230px;
}
#hp3_img {
  position: absolute;
  height: 7%;
  width: 4%;
  top: 15px;
  left: 1180px;
}
#kniv_container {
  height: 8%;
  width: 8%;
  position: absolute;
  animation-name: travel1;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#sheriff_container {
  position: absolute;
  height: 15%;
  width: 15%;
  z-index: 2;
  animation-name: travel2;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
#massakremand_container {
  position: absolute;
  width: 10%;
  height: 10%;
  z-index: 1;
  top: 400px;
  left: 1200px;
}
#motorsav_container1 {
  position: absolute;
  width: 32%;
  height: 32%;
}
#motorsav_container2 {
  position: absolute;
  width: 13%;
  height: 13%;
}
/* CLASSES */
.sprite {
  width: 100%;
}

/* ease in på motorsave og knive? ellers på massakremanden */
/* lav pause på alle gameelements, kan findes i coinclicker mini, der skal så findes classes i container (og en "clicker" i img) */

/* Animations */
/* TRAVEL1 VIRKER */
@keyframes travel1 {
 0% {
  transform: translate(1200px, 600px) rotate(0deg);
 }
 16% {
  transform: translate(1200px, 400px) rotate(60deg);
 }
 32% {
  transform: translate(750px, 400px) rotate(120deg);
 }
 48% {
  transform: translate(750px, 600px) rotate(180deg);
 }
 64% {
  transform: translate(400px, 600px) rotate(240deg);
 }
 80% {
  transform: translate(400px, 400px) rotate(300deg);
 }
 100% {
  transform: translate(40px, 400px) rotate(360deg);
 }
}
/* TRAVEL1 VIRKER */
/* KNIVCLICK VIRKER */
@keyframes knivclick {
  0% {
    scale: 1;
  }
  30% {
    scale: 1.4;
  }
  100% {
    scale: 0;
  }
}
.knivclick {
  animation-name: kniv click;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count: 1  
}
/* KNIVCLICK VIRKER */
@keyframes travel2 {
  0% {
    scale: 1;
  transform: translate(1200px, 500px);
 }
 16% {
  scale: 0.8;
  transform: translate(1200px, 350px);
 }
 32% {
  scale: 1.0;
  transform: translate(750px, 350px);
 }
 48% {
  scale: 1.2;
  transform: translate(750px, 500px);
 }
 64% {
  scale: 1.0;
  transform: translate(400px, 500px);
 }
 80% {
  scale: 0.8;
  transform: translate(400px, 350px);
 }
 100% {
  scale: 1;
  transform: translate(40px, 350px);
 }
}
/* IMPLEMENTER TIME BAR? */